body {

}
img {
	margin: 64px 586px 64px 48px ;
	display: inline-table;
}
.card {
	margin: auto;
	margin-top: 10%;
	vertical-align: middle;
	width: 1010px;
	height: 503px;
	border: 1px solid #d7d7d7;
	background-color: #ffffff;
	
	max-height:503px ;
	max-width:1010px ;
	
}
p {
	
	
	
}
.nameitem {
	
	width: 178px;
	height: 22px;
	color: #2f2f2f;
	font-family: "Arial - Bold MT";
	font-size: 23px;
	font-weight: 400;
	margin-top:-410px ;
	margin-left: 550px;
}
.text {
	width: 393px;
	height: 50px;
	color: #2f2f2f;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
	font-size: 15px;
	font-weight: 400;
	margin-top: 40px ;
	margin-left: 550px;
}
.price {
	width: 35px;
	height: 14px;
	color: #2f2f2f;
	font-family: "Arial MT";
	font-size: 15px;
	font-weight: 400;
	margin-top: 60px ;
	margin-left: 550px;
}
.value {
	width: 103px;
	height: 28px;
	font-family: "Arial MT";
	font-size: 30px;
	font-weight: 400;
	margin-left: 550px;
	margin-top: 10px ;
	
}
button {
	width: 252px;
	height: 50px;
	background-color: #ec744a;
	font-size: 19px;
	font-weight: 400;
	color: white;
	margin-top: 30px;
	margin-left: 550px;
	
}
