body {
width: auto;
height: auto;
}

.conteiner {
  height: 675px;
  width: 1200px;
 
  
}
.card {
  width: 1010px;
  height: 503px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  margin-top: 86px;
  margin-bottom: 86px;
  margin-left: 95px;
  margin-right: 95px;
 
  
}
.beats {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 48px;
  padding-right: 586px;

  
  
}

.text {
  width: 393px;
  height: 50px;
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  
  top: 232px;
  bottom: 393px;
  left: 619px;
  right: 188px;
  
 
}
.price {
  width: 35px;
  height: 14px;
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 337px;
  bottom: 324px;
  left: 618px;
  right: 546px;
  
 
}
.value {
  width: 103px;
  height: 28px;
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 374px;
  bottom: 273px;
  left: 618px;
  right: 476px;
  
 
}
.nameitem {
  width: 178px;
  height: 22px;
  color: #2f2f2f;
  font-family: "Arial - Bold MT";
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  top: 180px;
  bottom: 473px;
  left: 618px;
  right: 404px;
  
}
.button {
  width: 252px;
  height: 50px;
  background-color: #ec744a;
  color: white;
  position: absolute;
  top: 458px;
  bottom: 167px;
  left: 618px;
  right: 621px;
  font-family: "Arial MT";
  font-size: 19px;
  font-weight: 400;

  
}